.rhombus {
  width: 80px;
  height: 80px;
  border: solid black 1px;
  border-color: #ff0072;
  display: block;
  transform: rotate(45deg);
}
.textInRhombus {
  display: table-cell;
  padding-top: 20px;
  height: 60px;
  transform: rotate(-45deg);
  line-height: 10px;
  vertical-align: middle;
  width: 60px;
}
